<!-- TEMPLATE -->
<template>
  <nuxt-link to="/"
    ><button><slot></slot></button
  ></nuxt-link>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { defineComponent } from '@nuxtjs/composition-api';

  export default defineComponent({
    name: 'Default',
    setup() {},
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module></style>
