<!-- TEMPLATE -->
<template>
  <!-- <nuxt-link to="/companies" :class="[$style.link]">
    <button :class="[$style.box]">
      <UI-Icon name="icon/arrowLeft" :class="[$style.arrow]"></UI-Icon>
      <p :class="[$style.text]"><slot>__TEXT__</slot></p>
    </button>
  </nuxt-link> -->

  <button :class="[$style.box]" @click.prevent="router.back()">
    <UI-Icon name="icon/arrowLeft" :class="[$style.arrow]"></UI-Icon>
    <p :class="[$style.text]"><slot>__TEXT__</slot></p>
  </button>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { defineComponent, useRouter } from '@nuxtjs/composition-api';

  export default defineComponent({
    name: 'Back',

    setup() {
      const router = useRouter();

      return { router };
    },
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    width: max-content;
    background-color: #0000;
    border: none;
    transition: gap 0.15s var(--trs-cubic);
    padding: 0.3rem;

    &:hover {
      gap: 1.5rem;
    }
  }
  .link {
    width: max-content;
  }
  .arrow {
    width: 19px;
    height: 14px;
  }
  .text {
    font-family: var(--font-name-main);
    font-weight: normal;
    font-size: 14px;
    color: var(--color-ink);
  }
</style>
