<!-- TEMPLATE -->
<template>
  <div class="aside">
    <div :class="[$style.box]">
      <div :class="[$style.placeholder]">
        <picture :class="[$style.picture]"
          ><img :class="[$style.img]" :src="picture" alt="Picture" srcset=""
        /></picture>
      </div>

      <template v-for="f in arr" :class="[$style.item]">
        <div v-if="state({ key: f.label, val: f.text })">
          <p :class="[$style.label]">{{ f.label }}</p>
          <CompaniesInfoTextType :payload="f" :class="[$style.text]"></CompaniesInfoTextType>
        </div>
      </template>
    </div>
  </div>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { computed, defineComponent, ref } from '@nuxtjs/composition-api';
  import { useStore } from '~/store/companiesInfo';

  export default defineComponent({
    name: 'Aside',
    props: {},

    setup() {
      const store = useStore();
      const picture = computed(() => store.data.picture ?? '#');
      const enterData = (data: string) => data ?? '-';

      const state = ({ key, val }: { key: string; val?: string }) => {
        const app = ['telegram', 'whatsapp', 'skype'].includes(key);
        if (app && val === '-' && (val ?? false)) return null;
        return true;
      };

      const arr = computed(() => [
        { label: 'сайт', url: enterData(store.data.url) },
        { label: 'e-mail', email: enterData(store.data.contact_email) },
        { label: 'телефон', tel: enterData(store.data.contact_phone) },

        { label: 'telegram', text: enterData(store.data.contact_telegram) },
        { label: 'whatsapp', text: enterData(store.data.contact_whatsapp) },
        { label: 'skype', text: enterData(store.data.contact_skype) },

        { label: 'офис', text: 'Новодмитровская ул. 2к.2, 16 этаж, офис 1' },
      ]);

      return { arr, picture, state };
    },
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
    align-items: baseline;
    justify-content: start;
    gap: 1rem;
  }
  .label {
    text-transform: capitalize;
  }
  .placeholder {
    display: grid;
    align-items: center;
    justify-content: start;
    min-height: 120px;
    height: 120px;
  }
  .picture {
    display: block;
  }
  .img {
    width: 100%;
    max-height: 100%;
  }
  .text {
    font-family: var(--font-name-main);
    font-weight: 400;
    font-size: 0.875rem;
    color: #333;
  }
</style>
