<!-- TEMPLATE -->
<template>
  <div :class="[$style.box]">
    <div v-for="(f, dex) in arr" :key="dex" :class="[$style.item]">
      <p :class="[$style.number]">{{ f.number }}</p>
      <p :class="[$style.text]">{{ f.text }}</p>
    </div>
  </div>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { defineComponent, computed } from '@nuxtjs/composition-api';
  import { useStore } from '~/store/companiesInfo';

  export default defineComponent({
    name: 'Count',
    props: {},

    setup() {
      const store = useStore();

      const arr = computed(() => [
        { number: store.data.age, text: 'год' },
        { number: store.data.staff, text: 'человек' },
      ]);

      return { arr };
    },
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    align-items: center;
    justify-content: start;
  }
  .item {
    display: grid;
    grid-auto-flow: column;
    align-items: start;
    gap: 5px;
  }
  .number {
    font-family: var(--font-name-main);
    font-weight: 300;
    font-size: 60px;
    color: var(--color-number);
    line-height: 60px;
  }
  .text {
    font-family: var(--font-name-main);
    font-weight: 400;
    font-size: 1rem;
    color: #333;
  }
</style>
