<!-- TEMPLATE -->
<template>
  <div :class="[$style.box]">
    <div v-for="(f, dex) in arr" :key="dex" :class="[$style.item]">
      <p :class="[$style.short]">{{ f.descriptionShort }}</p>
      <p :class="[$style.full]">{{ f.descriptionFull }}</p>
    </div>
  </div>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { computed, defineComponent } from '@nuxtjs/composition-api';
  import { useStore } from '~/store/companiesInfo';

  export default defineComponent({
    name: 'Description',
    props: {},

    setup() {
      const store = useStore();

      const arr = computed(() => [
        { descriptionShort: store.data['description_short'] },
        { descriptionFull: store.data['description_full'] },
      ]);

      return { arr };
    },
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
    gap: 24px;
  }
  .item {
    display: grid;
    grid-auto-flow: row;
  }

  .short,
  .full {
    font-family: var(--font-name-main);
    font-weight: 400;
    font-size: 18px;
    color: #333;
  }
  .full {
    font-size: 14px;
  }
</style>
