<!-- TEMPLATE -->
<template>
  <div :class="[$style.box]" v-if="arr">
    <div :class="[$style.item]">
      <h3 :class="[$style.h3]"><slot></slot></h3>
      <div :class="[$style.list]">
        <span v-for="(f, dex) in arr" :key="dex" :class="[$style.span]"> {{ f.title }}</span>
      </div>
    </div>
  </div>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { computed, defineComponent, ref } from '@nuxtjs/composition-api';
  import { useStore } from '~/store/companiesInfo';
  import { youArray } from '~/tools/youArray';

  export default defineComponent({
    name: 'Special',
    props: {
      type: {
        type: String,
        default: null,
        validator(f: string) {
          return ['industries', 'spec'].includes(f);
        },
      },
    },

    setup(props: { type: string }) {
      const store = useStore();
      const type = ref(props.type);
      // const empty = ref([ ]);

      const industries = computed(() => youArray(store.data.industries));
      const spec = computed(() => youArray(store.data.companySpecializations));

      const arr = computed(() => (type.value === 'industries' ? industries.value : spec.value));

      return { arr };
    },
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
  }
  .item {
    display: grid;
    gap: 24px;
  }
  .h3 {
    font-family: var(--font-name-main);
    font-weight: 400;
    font-size: 18px;
    color: #000;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
  }
  .span {
    display: grid;
    font-family: var(--font-name-main);
    font-weight: 400;
    font-size: 14px;
    color: #484848;
    padding: 5px 19px 7px;
    background-color: #f7f7f7;
    border: 0 solid #0000;
    border-radius: 200px;
    align-items: center;
    justify-content: center;
  }
</style>
