<!-- TEMPLATE -->
<template>
  <div>
    <p v-if="type === 'text'" :class="[$style.text]">{{ propValue }}</p>
    <a v-if="type === 'url'" href="#" type="url">{{ propValue }} </a>
    <a v-if="type === 'tel'" href="tel:#" type="tel">{{ convertedPhone }} </a>
    <a v-if="type === 'email'" href="mailto:#" type="email">{{ propValue }} </a>
  </div>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { defineComponent, PropType, ref, reactive } from '@nuxtjs/composition-api';
  import { phoneNumber } from '~/tools/phoneNumber';

  interface PAYLOAD {
    label: string;
    [prop: string]: string;
  }
  export default defineComponent({
    name: 'TextType',
    props: {
      payload: {
        type: Object as PropType<PAYLOAD>,
        default: () => ({ label: 'label', text: '__TEXT__' }),
      },
    },

    setup(props) {
      const el = reactive(props.payload);
      const type = Object.keys(el)[1];
      const propValue = ref(el[type]);

      const { convertedPhone } = phoneNumber({ type, str: propValue.value });

      return { props, propValue, type, convertedPhone };
    },
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
  }
  .text {
    color: inherit;
  }
</style>
