<!-- TEMPLATE -->
<template>
  <section class="index section" :class="[$style.section]">
    <h2 :class="[$style.h2]">Каталог компаний</h2>
    <div :class="[$style.box]">
      <CompaniesSearch></CompaniesSearch>
      <CompaniesDropList></CompaniesDropList>
    </div>
  </section>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { defineComponent } from '@nuxtjs/composition-api';

  export default defineComponent({
    name: 'Index',
    setup() {},
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
    grid: auto/1fr minmax(16.875rem, auto);
    grid-gap: 7.5rem;
    gap: 7.5rem;
    align-items: start;
    justify-content: stretch;
  }
  .section {
    overflow: unset;
    display: grid;
    gap: 1rem;
  }
  .button {
    border: 0 solid #0000;
    border-radius: 6px;
    background-color: orange;
    padding: 1rem 3rem;
  }
</style>
