<!-- TEMPLATE -->
<template>
  <footer class="gridFooter hero__area--footer" :class="[$style.line]">
    <!-- <h1 class="gridFooter__h1">FOoter1</h1> -->
    <section :class="[$style.box, $style.section]">
      <div :class="[$style.item, $style.header]">
        <FooterAutoColumn :payload="list.tender"></FooterAutoColumn>
        <FooterAutoColumn :payload="list.company"></FooterAutoColumn>
        <FooterAutoColumn :payload="list.product"></FooterAutoColumn>
        <FooterAutoColumn :payload="list.case"></FooterAutoColumn>
      </div>
      <div :class="[$style.item, $style.footer]">
        <div :class="[$style.social]">
          <UI-Icon v-for="(f, dex) in arr" :key="dex" :class="[$style.icon]" :name="f.name" :src="f.src"></UI-Icon>
        </div>

        <div :class="[$style.about]">
          <a href="#">О проекте</a>
          <a href="#">Пользовательское соглашение</a>
        </div>
      </div>
    </section>
  </footer>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { defineComponent, ref } from '@nuxtjs/composition-api';

  export default defineComponent({
    name: 'GridFooter',
    setup() {
      const arr = ref([
        { name: 'icon/fb', src: '#' },
        { name: 'icon/vk', src: '#' },
        { name: 'icon/yt', src: '#' },
      ]);

      const list = ref({
        tender: {
          head: 'Тендеры',
          button: { bgc: '3, 9, 83', text: 'Добавить тендер' },
          list: [
            'Каталог тендеров',
            '---',
            'Работа с клиентами',
            'Управление проектами',
            'Маркетинг',
            'Финансы',
            'Управление бизнесом',
          ],
        },
        company: {
          head: 'Компании',
          button: { bgc: '239, 62, 74', text: 'Добавить компанию' },
          list: [
            'Рейтинги',
            'Отраслевая специализация',
            '---',
            'Интеграторы',
            'Решения для бизнеса крепеж',
            'Разработка сайтов',
            'Мобильные приложения',
            'Онлайн-реклама',
            'Контент',
          ],
        },
        product: {
          head: 'Продукты',
          list: [
            'Рейтинги',
            'По отраслям',
            '---',
            'Работа с клиентами',
            'Управление проектами',
            'Маркетинг',
            'Финансы',
            'Управление бизнесом',
          ],
        },
        case: {
          head: 'Кейсы',
          list: [
            'Автоматизация сантехников',
            'Автоматизация клининга',
            'Автоматизация СТО',
            'Автоматизация сантехников',
            'Автоматизация клининга',
            'Автоматизация СТО',
          ],
        },
      });

      return { arr, list };
    },
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
    padding-top: 80px;
    padding-bottom: 88px;
    max-width: var(--screen-size);
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
  }

  .line {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.25s var(--trs-cubic);

    &:hover {
      transform: translate(0, -4px);
    }
  }
  .header {
    display: grid;
    grid: auto / repeat(auto-fit, minmax(190px, 17.3rem));
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
  }
  .footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }
  .about {
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    font-family: var(--font-name-main, sans-serif);
    font-weight: 400;
    font-size: 12px;
    color: var(--color-grey);
  }
  .social {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
  }
</style>
