<!-- TEMPLATE -->
<template>
  <header class="hero__area--header hero__background hero__theme" data-theme :class="[$style.line]">
    <div :class="[$style.box, $style.section]">
      <nuxt-link to="/" :class="[$style.logo]">
        <UI-Icon name="logo"></UI-Icon>
      </nuxt-link>
      <div :class="[$style.list]">
        <nuxt-link v-for="(f, dex) in arr" :key="dex" :to="f.src" :class="[$style.list]">
          {{ f.name }}
        </nuxt-link>
      </div>
      <div :class="[$style.auth]">
        <div @click.prevent="">Вход и регистрация</div>
      </div>
    </div>
  </header>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { defineComponent, ref } from '@nuxtjs/composition-api';

  export default defineComponent({
    name: 'GridNavbar',
    setup() {
      const arr = ref([
        { name: 'Тендеры', src: '/tenders' },
        { name: 'Компании', src: '/companies' },
        { name: 'Продукты', src: '/products' },
        { name: 'Кейсы', src: '/cases' },
        { name: 'Блог', src: '/blog' },
      ]);

      return { arr };
    },
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
    max-width: var(--screen-size);
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .section {
    position: relative;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .line {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .logo {
    width: 160px;
    height: 50px;
    margin: 22px 0 24px 0;
  }
  .list {
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
    font-family: var(--font-name-main);
    font-size: 1rem;
    font-weight: 400;
  }
  .auth {
    cursor: pointer;
    &:hover {
      color: rgba(var(--link-active), 0.3);
    }
  }
</style>
