<!-- TEMPLATE -->
<template>
  <a v-if="url" :href="url">
    <picture><svg-icon :name="name" :icon-name="name"></svg-icon> </picture>
  </a>
  <picture v-else> <svg-icon :name="name" :icon-name="name"></svg-icon></picture>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { defineComponent, computed } from '@nuxtjs/composition-api';

  export default defineComponent({
    name: 'Icon',
    props: {
      name: {
        type: String,
        default: '',
      },
      src: {
        type: String,
        default: undefined,
      },
    },
    setup(props) {
      const url = computed(() => props.src ?? false);
      return { url };
    },
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" scoped></style>
