<!-- TEMPLATE -->
<template>
  <section class="_id section" :class="[$style.box]">
    <HeaderBack>Компании</HeaderBack>

    <div v-if="title" :class="[$style.title]">
      <h2 :class="[$style.h2]">{{ title }}</h2>
      <div :class="[$style.group]">
        <div :class="[$style.item]">
          <CompaniesInfoCount></CompaniesInfoCount>
          <div :class="[$style.space]">
            <CompaniesInfoDescription></CompaniesInfoDescription>
            <CompaniesInfoSpecial type="spec">Проектная специализация</CompaniesInfoSpecial>
            <CompaniesInfoSpecial type="industries">Технологии</CompaniesInfoSpecial>
          </div>
        </div>
        <aside :class="[$style.item]">
          <CompaniesInfoAside></CompaniesInfoAside>
        </aside>
      </div>
    </div>

    <div v-else>
      <p>{{ state }}</p>
    </div>
  </section>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import {
    defineComponent,
    onBeforeMount,
    onBeforeUnmount,
    ref,
    useRoute,
    computed,
    useAsync,
  } from '@nuxtjs/composition-api';

  import { useStore } from '~/store/companiesInfo';

  export default defineComponent({
    name: 'Id',

    setup() {
      const store = useStore();
      const route = useRoute();
      const target = ref('[data-theme]');
      const headerClass = ref('hero__magic');

      const { id } = route.value.params;
      useAsync(() => store.fetchInfo(id), 'async');

      onBeforeMount((el = document.querySelector(target.value) as HTMLElement) => {
        return el?.classList.add(headerClass.value);
      });
      onBeforeUnmount((el = document.querySelector(target.value) as HTMLElement) => {
        return el?.classList.remove(headerClass.value);
      });

      const title = computed(() => store.data?.title ?? null);
      const state = computed(() => title.value ?? store.data);

      return { state, title };
    },
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
    padding-top: 40px;
    gap: 1rem;
  }
  .group {
    display: grid;
    grid: auto / auto minmax(270px, 1fr);
    gap: 120px;
    align-items: start;
    justify-content: start;
  }
  .title {
    display: grid;
    gap: 1rem;
  }
  .h2 {
    font-family: var(--font-name-third);
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.12px;
    color: #000;
  }
  .item {
    display: grid;
    gap: 1rem;
  }
  .space {
    display: grid;
    gap: 40px;
  }
</style>
