<!-- TEMPLATE -->
<template>
  <div :class="[$style.autoColumn, $style.box]">
    <h3 :class="[$style.h3]">{{ payload.head }}</h3>
    <button v-if="payload.button" :class="[$style.button]" :style="cssProps" @click.prevent="clickButton">
      {{ buttonText }}
    </button>

    <div v-for="(f, dex) in payload.list" :key="f + dex">
      <a v-if="f !== '---'" href="#" :class="[$style.list]"> {{ f }} </a>
      <div v-else :class="[$style.empty]"></div>
    </div>
  </div>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { defineComponent, computed, ref, PropType } from '@nuxtjs/composition-api';

  interface PAYLOAD {
    head: string;
    button: boolean & { text: string; bgc: string };
    list: string[];
  }

  export default defineComponent({
    name: 'AutoColumn',
    props: {
      payload: {
        head: String,
        button: [Object, Boolean],
        list: Array,

        type: Object as PropType<PAYLOAD>,
        requred: true,
        default: () => ({
          head: '__TEXT__',
          button: false,
          list: ['__TEXT__'],
        }),
      },
    },

    setup(props) {
      const button = ref(props.payload.button);
      const cssProps = computed(() => ({ '--bgc-color': button.value?.bgc ?? '#000' }));
      const buttonText = computed(() => button.value?.text ?? '__TEXT__');

      const clickButton = (event: Event) => {
        console.log('click!', (event.target as HTMLElement).innerText);
      };

      return { cssProps, buttonText, clickButton, props };
    },
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    color: #333;
    display: grid;
    align-items: baseline;
    justify-content: start;
    gap: 1rem;
  }
  .h3 {
    font-family: var(--font-name-main), sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #000;
  }
  .button {
    width: max-content;
    border: 0 solid;
    border-radius: 4px;
    padding: 7px 1rem;
    font-family: var(--font-name-main), sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: rgba(var(--bgc-color), 1);
    transition: auto 0.12s var(--trs-cubic);
    transition-property: background-color, transform;
    &:hover {
      background-color: rgba(var(--bgc-color), 0.69);
    }
    &:active {
      transform: translate(0, 2px);
    }
  }
  .list {
    font-family: var(--font-name-second), sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
  .empty {
    font-size: 0;
  }
</style>
