<!-- TEMPLATE -->
<template>
  <div :class="[$style.box]">
    <div :class="[$style.title]">{{ props.payload.title }}</div>
    <div :class="[$style.dropListParent, props.anchor.parent]">
      <div :class="[$style.group, $style.drop]" @click.prevent="clickModal">
        <div :class="[$style.label, listIsSelected]">{{ selectedText }}</div>
        <div :class="[$style.arrow]">
          <div @click.prevent.stop="clickClearIcon" :class="[$style.clear]" v-show="showHide">
            <UI-Icon name="icon/clear" :class="[$style.notClick]" />
          </div>

          <div :ref="props.anchor.dropArrow" :class="[$style.arrowDrop, rotateArrowState]">
            <UI-Icon name="icon/arrowDrop" />
          </div>
        </div>
      </div>
      <div :class="[$style.list]" @click.prevent="clickListField" v-show="activeModal">
        <p :class="[$style.listItem]" v-for="(f, dex) in arr" :key="dex" :name="f.title">
          {{ f.title }}
        </p>
      </div>
    </div>
  </div>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { computed, defineComponent, PropType, ref, useCssModule, onMounted } from '@nuxtjs/composition-api';
  import { useStore } from '~/store/companiesDefinitions';
  import { COMPANIES_DEFINITIONS } from '~/tools/types';

  interface PAYLOAD {
    data: string;
    label: string;
    state: boolean;
    title: string;
  }

  interface ANCHOR {
    parent: string;
    dropArrow: string;
    active: string;
  }

  const valid = ['Industry', 'CompanySpecialization', 'IndustryGroup', 'CompanySpecializationGroup'];
  export default defineComponent({
    name: 'DropListEvent',
    props: {
      anchor: {
        type: Object as PropType<ANCHOR>,
        required: true,
      },
      payload: {
        type: Object as PropType<PAYLOAD>,
        title: {
          type: String,
          default: () => '__TEXT__',
        },
        data: {
          type: String,
          default: () => '',
          validator(f: string) {
            return valid.includes(f);
          },
        },
        label: {
          type: String,
          default: () => '__TEXT__',
        },
        state: {
          type: Boolean,
          default: () => false,
        },
      },
    },

    setup(props: { anchor: ANCHOR; payload: PAYLOAD }, { emit, refs }: any) {
      const store = useStore();

      // FIXME
      // @ts-expect-error
      const arr = computed(() => store[props.payload.data]);

      const refsTarget = ref<HTMLElement>();
      const rotateArrow = ref(useCssModule()[props.anchor.active]);

      const defaultText = ref(props.payload?.label);
      const selectedText = ref(defaultText.value);
      const showHide = computed(() => selectedText.value !== defaultText.value);

      const activeModal = computed(() => props.payload?.state);
      const rotateArrowState = computed(() => (props.payload?.state ? rotateArrow.value : null));
      const listIsSelected = computed(() => (showHide.value ? useCssModule()[props.anchor.active] : null));

      const clearDrop = () => (selectedText.value = defaultText.value);
      const clickModal = () => emit('trigger');
      const clickClearIcon = () => clearDrop();

      const clickListField = (event: Event) => {
        const traget = event.target as HTMLElement;

        if (traget.hasAttribute('name')) {
          clickModal();
          return (selectedText.value = traget.getAttribute('name') ?? '');
        }
      };

      onMounted(() => {
        return (refsTarget.value = refs[props.anchor.dropArrow]);
      });

      return {
        rotateArrowState,
        arr,
        props,
        store,
        selectedText,
        listIsSelected,
        showHide,
        activeModal,
        clickModal,
        clickClearIcon,
        clickListField,
        clearDrop,
        //
      };
    },
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
    gap: 1rem;
  }

  .group {
    display: grid;
    grid-auto-flow: column;
    user-select: none;
    cursor: pointer;
  }
  .arrow {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1rem;
    gap: 0.5rem;
    justify-content: end;
  }
  .clear {
    width: 1rem;
    height: 1rem;
    justify-self: center;
    margin: auto;
    color: #c7c7cc;
    right: 0;

    &:hover {
      cursor: pointer;
      color: red;
    }
  }
  .arrowDrop {
    width: 1rem;
    height: 1rem;
    margin: auto;
    right: 0;
    justify-self: center;
    color: #c7c7cc;
    transition: transform 0.25s var(--trs-cubic);
    transform: rotate(0);

    &.active {
      transform: rotate(-180deg);
    }
  }
  .drop {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 9px 16px;
    grid-auto-columns: 160px auto;
  }
  .modal {
    display: grid;
    padding: 4rem;
    width: 120px;
  }
  .dropListParent {
    position: relative;
  }
  .label {
    font-family: var(--font-namep-main);
    font-size: 14px;
    color: var(--color-grey);

    &.active {
      color: #1c1c1c;
    }
  }
  .list {
    display: grid;
    background-color: #fff;
    border: 0 solid #0000;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 1px #e5e5e5;
    transition: opacity 0.12s var(--trs-cubic);
    position: absolute;
    width: 100%;
    user-select: none;
    z-index: 1;
  }
  .listItem {
    --padding: 0.56rem;

    font-family: var(--font-namep-main);
    font-size: 14px;
    color: #1c1c1c;
    border: 0;
    padding: var(--padding) 1rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(3, 9, 83, 0.05);
    }

    &:not(:last-child) {
      &::after {
        content: '';
        border-bottom: 1px solid #e5e5e5;
        width: 100%;
        height: 1px;
        display: grid;
        transform: translate(0, calc(var(--padding) + 0.02rem));
      }
    }
  }

  .rotateZero {
    transform: rotate(0);
  }
  .notClick {
    pointer-events: none;
  }
</style>
