<!-- TEMPLATE -->
<template>
  <aside class="dropList section">
    <div :class="[$style.box]">
      <div :class="[$style.item]">
        <CompaniesDropListEvent
          v-for="(f, dex) in arr"
          :key="dex"
          :payload="f"
          :anchor="anchor"
          @trigger="activeDrop(dex)"
        >
        </CompaniesDropListEvent>
      </div>
    </div>
  </aside>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { defineComponent, onBeforeMount, onBeforeUnmount, ref, useAsync } from '@nuxtjs/composition-api';
  import { useStore } from '~/store/companiesDefinitions';

  export default defineComponent({
    name: 'DropList',
    props: {},

    setup() {
      const store = useStore();
      useAsync(() => store.fetchDefinitions(), 'async');

      const anchor = ref({
        parent: 'jsClassAnchor',
        dropArrow: 'jsClassDropArrow',
        active: 'active',
      });

      const arr = ref([
        {
          title: 'Отрасль',
          data: 'Industry',
          label: 'Все отрасли',
          state: false,
        },
        {
          title: 'Специализация',
          data: 'CompanySpecialization',
          label: 'Все специализации',
          state: false,
        },
      ]);

      const activeDrop = (id: number) => {
        arr.value.forEach((f, _dex) => {
          if (f.state) return (f.state = !f.state);
          return (f.state = id === _dex);
        });
      };

      const closestClick = (event: Event) => {
        const el = event.target as HTMLElement;
        const _class = `.${anchor.value.parent}`;

        if (el.closest(_class) || el.classList.contains(_class)) return false;
        else {
          arr.value.forEach(f => (f.state = false));
        }
      };

      const keyboardEsc = (event: Event) => {
        if ((event as KeyboardEvent).code === 'Escape') {
          return arr.value.forEach(f => (f.state = false));
        }
        return false;
      };

      onBeforeMount(() => {
        document.addEventListener('click', closestClick);
        document.addEventListener('keydown', keyboardEsc);
      });

      onBeforeUnmount(() => {
        document.removeEventListener('click', closestClick);
        document.removeEventListener('keydown', keyboardEsc);
      });

      return { arr, activeDrop, anchor };
    },
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
    background: #f7f7f7;
    border-radius: 4px;
    gap: 24px;
    padding: 20px 18px;
  }
  .item {
    display: grid;
    gap: 1rem;
  }
</style>
