<!-- TEMPLATE -->
<template>
  <form action="#" :class="[$style.box, $style.form]" @submit.prevent="">
    <div :class="[$style.group]">
      <label for="form-catalog" :class="[$style.label, $style.border]">
        <UI-Icon name="icon/search" :class="[$style.search]"></UI-Icon>
        <input
          id="form-catalog"
          :class="[$style.input]"
          type="text"
          placeholder="Поиск продукта или отрасли"
          autocomplete="off"
          v-model="myInput"
        />
      </label>
      <div @click.prevent="clear()" :class="[$style.clear]" v-show="showHide">
        <UI-Icon name="icon/clear"></UI-Icon>
      </div>
    </div>
    <button :class="[$style.button]">Найти</button>
  </form>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { computed, defineComponent, ref } from '@nuxtjs/composition-api';

  export default defineComponent({
    name: 'Search',
    props: {},

    setup() {
      const myInput = ref('');

      const clear = () => (myInput.value = '');

      const showHide = computed(() => {
        return myInput.value?.length >= 1;
      });

      return { myInput, clear, showHide };
    },
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
    grid: auto / 1fr auto;
  }
  .group {
    display: grid;
    position: relative;
  }
  .border {
    border: 1px solid #e5e5e5;
    border-radius: 4px 0 0 4px;
  }
  .label {
    display: grid;
    grid: auto/ auto 1fr;
    align-items: center;
    justify-content: start;
    cursor: text;
  }
  .input {
    background-color: #0000;
    color: #000;
    padding: 9px 0;
    font-family: var(--font-name-main);
    font-weight: 400;
    font-size: 14px;
    border: 0;
  }
  .search {
    width: 21px;
    height: 21px;
    justify-self: center;
    margin: auto 1rem;
  }
  .clear {
    width: 1rem;
    height: 1rem;
    justify-self: center;
    margin: auto 1rem;
    color: #c7c7cc;
    position: absolute;
    right: 0;

    &:hover {
      cursor: pointer;
      color: red;
    }
  }

  .button {
    background-color: var(--color-ink);
    color: #fff;
    padding: 9px 18px;
    border: 0 solid #0000;
    border-radius: 0 4px 4px 0;
    font-family: var(--font-name-main);
    font-weight: 400;
    font-size: 14px;

    &:hover {
      background-color: rgba(var(--color-ink-RGB), 0.69);
    }
  }

  label:focus-within {
    border: 1px solid var(--color-ink);
  }
</style>
