<template>
  <main class="DefaultLayout hero__root hero__box hero__areas">
    <PageHeader />
    <div class="hero__area--center hero__position">
      <Nuxt />
    </div>
    <PageFooter />
  </main>
</template>

<script lang="ts">
  import { defineComponent } from '@nuxtjs/composition-api';

  export default defineComponent({
    name: 'DefaultLayout',
    setup() {},
  });
</script>

<style lang="postcss" global>
  @import 'sanitize.css';
  @import '~assets/pcss/index.pcss';
  @import '~assets/pcss/custom.pcss';

  .hero {
    &__box {
      display: grid;
      grid-auto-flow: column;
      justify-content: stretch;
      align-items: stretch;
      margin-left: auto;
      margin-right: auto;
      grid-auto-rows: auto minmax(66vh, 1fr) auto;
      grid-auto-columns: 1fr minmax(auto, var(--screen-size, var(---))) 1fr;
      align-self: start;
      padding: 0;
      gap: 40px;
      min-height: 100vh;
    }
    &__areas {
      grid-template-areas:
        'header header header'
        'sideL center sideR'
        'footer footer footer';
    }

    &__background {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &__theme {
      color: var(--header-text-color);
      background-color: var(--header-bgc-color);
    }
    &__svg {
      position: absolute;
      left: auto;
      top: 7%;
      right: 2%;
      bottom: 0;
      z-index: 0;
      height: 86vh;
      max-width: 80%;
    }
    &__position {
      position: relative;
      z-index: 1;
    }
  }
  .hero__area {
    &--header {
      grid-area: header;
    }
    &--center {
      grid-area: center;
    }
    &--footer {
      grid-area: footer;
    }
  }
  .hero__magic {
    --header-text-color: #fff;
    --header-bgc-color: #030953;
    --link-active: 255, 255, 255;
    --logo-color-1: #fff;
    --logo-color-2: #030953;
  }
</style>
