<!-- TEMPLATE -->
<template>
  <section class="error" :class="$style.section">
    <h1 :class="$style.h1">Ошибка 404</h1>
    <div :class="$style.box">
      <div :class="$style.item">
        <p>Oops! Кажется, мы не можем найти нужную страницу.</p>
      </div>
      <div :class="$style.item">
        <UI-Button-Default>BACK</UI-Button-Default>
      </div>
    </div>
  </section>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { defineComponent } from '@nuxtjs/composition-api';

  export default defineComponent({
    name: 'Error',
    setup() {},
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .section {
    display: grid;
    align-items: start;
    grid-auto-flow: row;
    grid-auto-rows: auto 1fr;
    justify-content: stretch;
  }
  .box {
    display: grid;
    align-items: start;
    gap: 40px;
    grid: auto / 1fr;
    justify-content: stretch;
  }
  .item {
    display: grid;
    grid-auto-flow: row;
    justify-content: stretch;
  }
</style>
