<!-- TEMPLATE -->
<template>
  <nuxt-child></nuxt-child>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts">
  import { defineComponent } from '@nuxtjs/composition-api';

  export default defineComponent({
    name: 'Companies',
    setup() {},
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module></style>
