<!-- TEMPLATE -->
<template>
  <section class="route section">
    <h1 class="h1">Start page</h1>
    <div :class="[$style.box]">
      <div class="item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sapiente quod deserunt mollitia minus aperiam
        sunt doloremque rem atque autem, repellendus, aspernatur inventore voluptatum officiis earum accusantium
        veritatis, exercitationem dolorum?
      </div>
      <nuxt-link to="companies"><button :class="[$style.button]">Компании</button></nuxt-link>
    </div>
  </section>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script>
  import { defineComponent } from '@nuxtjs/composition-api';

  export default defineComponent({
    name: 'Index',
    setup() {},
  });
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-content: start;
  }
  .button {
    color: #fff;
    background-color: var(--color-ink);
    padding: 0.6rem 1.6rem;
    border: 1px solid #0000;
    border-radius: 6px;
    width: max-content;
    font-size: 1rem;

    &:hover {
      background-color: rgba(var(--color-ink-RGB), 0.69);
    }
  }
</style>
