/* body,
html {
  font-family: sans-serif;
} */

a {
  color: unset;
  &:hover {
    color: var(--color-hover);
  }
}

a.nuxt-link-active {
  font-family: var(--font-name-main);
  font-size: 1rem;
  font-weight: normal;
  color: rgba(var(--link-active), 0.3);
}
