:root {
  ---: '__UNDEFINED__';
  --trs-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --font-name-main: 'Rubik', arial, helvetica, sans-serif;
  --font-name-second: 'IBM Plex Sans', arial, helvetica, sans-serif;
  --font-name-third: 'Raleway', arial, helvetica, sans-serif;
  --main-font-size: 1rem;
  --color-black: #000;
  --color-grey: #808080;
  --color-blue: #3898ec;
  --color-ink: #030953;
  --color-ink-RGB: 3, 9, 83;
  --color-hover: #ef3e4a;
  --color-number: #ef3e4a;
  --color-i-blac: #000;
  --color-background: #0abab5;
  --font-size-h1: 2.5;
  --font-size-h2: 2.05;
  --font-size-h3: 1.6;
  --font-size-h4: 1.23;
  --font-size-h5: 0.95;
  --font-size-h6: 0.7;
  --screen-size: 1200px;
  --color-arrow: orange;
  --header-text-color: var(--color-ink);
  --header-bgc-color: #fff;
  --link-active: 3, 9, 83;
  --logo-color-1: #030953;
  --logo-color-2: #fff;
}
